
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<header>
    <nav>
        <h2> Easy Survey Solution </h2>
    </nav>
</header>
<main>
    <div class="about">
        <div class="title">
            <h1>We power the curious</h1>
        </div>
        <div class="desc">
            <p>Our  features help you design surveys with confidence and maximize your data’s potential</p>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card_img"> <i class="fas fa-rocket"></i> </div>
            <div class="card_title">Take Survey</div>
            <div class="card_body">
                <p>Users can contribute to the exsisting survey</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fab fa-cloudversify"></i> </div>
            <div class="card_title">Create Survey</div>
            <div class="card_body">
                <p>Users can create new survey as per requirement</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fas fa-poll"></i> </div>
            <div class="card_title">Results</div>
            <div class="card_body">
                <p>Users could view the statistical result of the surveys</p>
            </div>
        </div>
    </div>
</main>

<br>
<br>
<br><br>
<div class="wrapper">
    <div class="container">
      <div class="col-lg">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <a>.................................................................................</a>
  <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/explore"><i class="fa fa-twitter"></i></a>
  <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
  <a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
  <a href="https://www.google.com/" class="fa fa-google"></a>
  <a href="https://ca.linkedin.com/" class="fa fa-linkedin"></a>
  <a>..................................................................................</a>
  </div>
  </div>
  </div>