<div id="outside">
  <form [formGroup]="surveyForm" autocomplete="off">
    <h1 id="title">Create Survey Manually</h1>
    <p id="description"><b> </b></p>
    <!-- formally describes the purpose of the fieldset it is included inside. -->
    <div class="row">
      <div class="col-6">
        <div class="mb-3 ml-3">
          <label class="form-label">Survey Title</label>
          <input class="form-control" formControlName="name" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3 ml-3">
          <label class="form-label">Survey Title</label>
        </div>
        <div
          class="card mb-3 ml-3"
          formArrayName="questions"
          *ngFor="
            let item of surveyForm.get('questions')['controls'];
            let i = index
          "
        >
          <div class="card-body" [formGroupName]="i">
            <div class="mb-3 ml-3">
              <label class="form-label">Question Title</label>
              <input class="form-control" formControlName="title" />
            </div>
            <div class="mb-3 ml-3">
              <label class="form-label">Question Type</label>
              <select
                class="form-control"
                formControlName="type"
                (change)="onChangeQuestionType($event, i)"
              >
                <option value="">Select Any</option>
                <option value="text">Text</option>
                <option value="multiple choice">Multiple Choice</option>
              </select>
            </div>
            <div
              class="mb-3 ml-3"
              *ngIf="
                surveyForm.get('questions')['controls'][i].get('type').value ==
                'multiple choice'
              "
            >
              <div
                formArrayName="options"
                *ngFor="
                  let item of surveyForm
                    .get('questions')
                    ['controls'][i].get('options')['controls'];
                  let j = index
                "
              >
              <div [formGroupName]="j">
                <label class="form-label">Option - {{ j + 1 }}</label>
                <input class="form-control" formControlName="value" />
              </div>
            </div>
              <div class="mb-3">
                <button (click)="addOption(i)">ADD OPTION</button>
              </div>
            </div>
            <div
              class="mb-3 ml-3"
              *ngIf="
                surveyForm.get('questions')['controls'][i].get('type').value !=
                ''
              "
            >
              <label class="form-label">Answer</label>
              <input class="form-control" formControlName="answer" disabled />
            </div>
            <button class="btn-btn-block" (click)="addQuestion(i)">
              ADD QUESTION
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block">
      <button (click)="onCreateSurvey()">ADD SURVEY</button>
    </div>
  </form>
</div>
